.side_bar
  .side_bar__user-name
    .side_bar__list
      .side_bar__side-box
        %p 
          masa
      .side_bar__side-box2
        %ul
          = link_to new_group_path(), class:"side_bar__edit" do
            =icon('far', 'edit')
          = link_to edit_user_path(current_user) ,class:"side_bar__cog"do
            =icon('fas', 'cog')

  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__list2
        = link_to '#' do
          .side_bar__account
            = group.name
          .side_bar__message
            メッセージなし

  