* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.side_bar{
  width: 300px;

  &__user-name{
    height: 100px;
    background-color:#253141 ;
    display: flex;
    align-items: center; 
  }
    &__side-box{
      height: 20px;
      width: 200px;
      background-color: #253141;
      color: #ffffff;
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
    }
      &__side-box2{
      height: 20px;
      width: 60px;
      background-color:#253141;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: right;
    
  }
    &__edit{
      color: #ffffff;
      margin-right: 5px;
      text-decoration: none;
    }
    &__cog{
      color: #ffffff;
    }
  
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.main_chat{
  width: calc(100vw - 300px);
  
  .main_chat__group-info{
    height: 100px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff
    
  }

  .main_chat__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }

  .main_chat__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}